.graph-page-wrapper{
    background-color: transparent;
    height: 90%;
    width: 100%;
    position: relative;
}
.internal-wrapper{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 70%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.board{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;

    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(0.2rem);

}


.circle{
    border-radius: 50%;
    position: absolute;
    backdrop-filter: blur(0.2rem);
}

.line{
    background-color: purple;
    width: 1px;
    height: 300%;
    position: absolute;
}

.ledgent-wrapper{
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(0.2rem);


    width: 90vw;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 2rem;
}

.text{
    position: absolute;
    width: 30px;
    height: 20px;
}