.graph-page-wrapper{
    background-color: transparent;
    height: 90%;
    width: 100%;
    position: relative;
}
.internal-wrapper{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 70%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.board{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;

    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(0.2rem);

}


.ledgent{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding: 1rem 0.8rem;

    border-radius: 2rem;

    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(0.2rem);

    width: fit-content;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);


    div{
        display: flex;
        gap: 0.8rem;
    }
    
    .value{
        font-weight: bold;
    }
}



.text{
    position: absolute;
    width: 30px;
    height: 20px;
}