<div class="rentals-wrapper">
    <div class="rental-wrapper">
        <table>
            <thead>
                <th *ngFor="let header of headers">
                    <div class="header-group">
                        {{ header.title }}
                        <div class="actions-group" *ngIf="header.keyToSort != 'no_sort'">
                            <button (click)="sort(header.keyToSort, 'asc')" class="icon">
                                <img src="/assets/icons/asc.png" class="icon asc-icon" >
                            </button>
                            <button (click)="sort(header.keyToSort, 'desc')" class="icon">
                                <img src="/assets/icons/desc.png" class="asc-icon" >
                            </button>
                        </div>
                    </div>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let rental of rentals; let i = index">
                    <td>{{ rental.movie }}</td>
                    <td>{{ rental.rental_date }}</td>
                    <td>{{ rental.charge }}</td>
                    <td>
                        <span *ngIf="isAdmin" > {{rental.user}}</span>
                        <button class="give-it-back-btn" *ngIf="!rental.is_paid && !isAdmin" (click)="giveItBack(i)">Give it Back</button>
                    </td>
                    <td>
                        <img style="height: 50px;" src="assets/icons/rent.png" *ngIf="!rental.is_paid" >
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="footer">
                    <button *ngIf="page >= 2" (click)="prev()" class="icon"><img class="flip" src="assets/icons/next.png" ></button>
                    <span>{{ page }} of {{ totalPages }} pages</span>
                    <button *ngIf="page<totalPages" (click)="next()" class="icon" > <img src="assets/icons/next.png" ></button>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
